<div class="container">
  <h1>All my bookings</h1>

    <% @my_bookings.each do |booking| %>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <ul>
              <li>Booked by: <%= booking.user.email %></li>
              <li>Status: <strong style="color: red;"><%= booking.status %></strong></li>
              <li>Booked at: <%= booking.created_at %></li>
              <li>Flat-id: <%= booking.flat.name %></li>
              <li>Flat-id: <%= booking.flat.location %></li>
              <strong><li>Owner: <%= booking.flat.user.email %></li></strong>
              <li>Check-in: <%= booking.checkin %></li>
              <li>Check-out: <%= booking.checkout%></li>
           </ul>
          </div>

      <div class="cards padded">
          <div class="col-xs-12 col-md-6">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
              url('<%= booking.flat.photo %>')">
              <%= link_to "", flat_path(booking.flat), class: 'card-link' %>
            </div>
            <%#= link_to flat_booking_path(booking.flat, booking) do ....%>
          </div>
        </div>

      </div>
      <hr>
    <% end %>

</div>

  <!-- add_foreign_key "bookings", "flats" booking.flat -->
  <!-- add_foreign_key "bookings", "users" => booking.user -->
  <!-- Flat-id:#<Flat:0x00007fe15376dce8> -->
