<div class="container">

  <h1>All my flats</h1>

  <!-- # all bookings related to my own flats -> ordered by check-in date FIFO -->
  <%= @bookings_of_flat %>


  <p>You own <%= @flats.count %></p>
    <% @flats.each do |flat| %>
  <hr>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <ul>
              <li>User signin: <%= current_user.email %>
              <li>My flat: <%= flat.user.email %></li>
              <li>My id: <%= flat.user.id %></li>
              <li><%= flat.name %></li>
              <li>Flat id: <%= flat.id %></li>
              <li><%= flat.description %></li>
              <li><%= flat.address %></li>
              <li><%= flat.location %></li>
              <li><%= flat.price %>£</li>
              <hr>
          </ul>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="cards padded">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                url('<%= flat.photo %>')">
              <%= link_to "", flat_path(flat), class: 'card-link' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>


<!-- row has inside of loop -> every card has its own row with 2 columns -->
