<div class="container">
  <% if @flat.name.nil? %>
    <h3>Add a new flat</h3>
  <% else %>
    <h3>Update your <%= @flat.name %></h3>
  <% end %>
    <%= simple_form_for [@flat] do |f| %>
        <%= f.input :name, input_html: {class: "input-from-new"} %>
        <%= f.input :description, input_html: {class: "input-from-new"} %>
        <%#= f.input :photo, input_html: {class: "input-from-new"} %>
        <%= f.input :photo, input_html: {class: "input-from-new"} %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.input :price, input_html: {class: "input-from-new"} %>
        <%= f.input :address, input_html: {class: "input-from-new", id: "flat_address"} %>
        <%= f.input :location, input_html: {class: "input-from-new"} %>
        <%= f.input :capacity, collection: 1..8, default: 1, input_html: {class: "input-from-new"} %>
        <%= f.submit "Upload flat", class: "btn btn-primary" %>
    <% end %>
    <br>
    <i class="fas fa-redo"></i> <%= link_to "Back to flats", root_path, class: ''%>
    <br>
</div>


<!-- - flat_address important for autocomplete.js in components - js -->
