<div class="container">
  <h1>All flats</h1>

  <!-- HAVE 1 ROW => ALL CARDS INSIDE -->
  <div class="row">
    <% @flats.each do |flat| %>
    <!-- DISPLAY JUST OTHERS FLATS -> NOT YOUR OWN -->
    <% unless current_user == flat.user %>
      <div class="col-xs-12 col-sm-6 col-md-4">

          <!-- displayed cards -->
          <div class="cards padded">
          <!-- <h2 class="card-title text-center">Our beloved drinks</h2> -->
            <% if flat.photo? %>
              <!-- USING FIT PICTURE -> IS NOT ZOOMED IN SO MUCH like fill -->
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= flat.photo %>')">
                <div class="card-category"><%= flat.name %></div>
                <div class="card-description"></div>
                <!-- <a class="card-link" href="#" ></a> -->
                <% if policy(flat).show? %>
                  <%#= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%= link_to '', flat_path(flat), class: 'card-link' %>
                <% end %>
              </div>
              <!-- url('https://www.book-a-flat.com/images/paris-salon-3.jpg');"> -->
              <!-- url('< cl_image_path (cocktail.photo), height: 500, width: 600, crop: :fit %>');"> -->
              <!-- url('https://source.unsplash.com/500x400/?cocktail');"> -->
            <% else %>
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path("logo.png") %>');">
                <div class="card-category"><%= flat.name %></div>
                <div class="card-description"></div>
                <!-- <a class="card-link" href="#" ></a> -->
                <%= link_to "", flat_path(flat), class: 'card-link' %>
              </div> <!-- end of card -->
            <% end %>
          </div> <!-- cards padded -->
    <% end %> <!-- END needs to be above div for columns -->
    </div>

  </div> <!-- row -->
  <% end %>

</div>
