<div class="container">
  <h1>Detailed flat</h1>
  <%= @flat.name %>
  <%= @flat.description %>
  <%= @flat.price %>
  <%= @flat.address %>
  <%= @flat.location %>
  <hr>
  <%= @flat.user.email %>
  <br>

  <!-- check if current user is NOT owner -->
  <% unless current_user == @flat.user %>
    <%= link_to 'Booking flat',  new_flat_booking_path(@flat) %>
  <% end %>

  <%= image_path @flat.photo  %>
  <div class="cards padded">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
              url('<%= image_path @flat.photo %>');">
  </div>
  <%= link_to 'To flats', flats_path %>
</div>


<!-- 1. in index -> show just others flats - not my own to book -->
