<div class="container">
  <h1>Detailed flat</h1>
  <%= @flat.name %>
  <%= @flat.description %>
  <%= @flat.price %>
  <%= @flat.address %>
  <%= @flat.location %>
  <hr>
  <%= @flat.user.email %>
  <br>

  <!-- check if current user is NOT owner -->
  <% unless current_user == @flat.user %>
    <%= link_to 'Book flat',  new_flat_booking_path(@flat), class: "btn btn-primary" %>
    <%= link_to 'Back to flats', flats_path, class: "btn btn-danger" %>
    <% else %>
      <% if policy(@flat).edit? %>
        <%= link_to "Update flat", edit_flat_path(@flat) %>
      <% end %>
  <% end %>

  <%#= link_to "Delete", flat_path(@flat), class: "btn", method: :delete, data: { confirm: "Are you sure?" } %>

  <%= image_path @flat.photo  %>
  <div class="cards padded">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
              url('<%= image_path @flat.photo %>');">
  </div>

</div>


<!-- 1. in index -> show just others flats - not my own to book -->
<!-- 2. I am redirect when click => My property to detail flat -> where I could edit/delete/accept? -->
